#canvas1 {
    position: absolute;
    top: 85%;
    left: 80%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 500px;
}
body{
    background-color: rgb(22, 24, 44);
}

.controls{
    position: absolute;
    z-index: 10;
    top: 30px;
    left:50%;
    transform: translateX(-50%);
}
.controls, select, option{
    font-size: 25px;
    color: aliceblue;
    background-color: rgb(22, 24, 44);
}