

/* uncommment code below to view "wire layout" */
/* * {
    background: #000 !important;
    color: #0f0 !important;
    outline: solid #f00 1px !important;
} */

/* use above to view "wire" layout */


html, body {
    margin: 0;
} 

@media (min-width: 600px) {
    .my_logo{
        background: url('images/mobile.png') 0% 0% no-repeat padding-box;
    }
    }

.my_logo{
    background: /*linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)),  */
    url('images/top_key_HC.png') 0% 0% no-repeat padding-box;
    top: 0px;
    height: 333px;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
}

.my_logo p{
    font: normal normal bold 49px/76px Oxygen;
    letter-spacing: 0px;
    color: #FFFFFF;
    /* margin: 0; */
    position: fixed;
    /* top: 17px;
    left: 50px; */
    top: 200px;
    left: 500px;
    /* margin-right: -50px; */
    transform: translate(-50px,-50px);
    display: block;
    overflow: hidden;
    
    }

h4{
    font: normal normal bold 49px/76px oxygen;
    letter-spacing: 0px;
}

.my_container{
     width: 1920px;
     margin-left: auto;
     margin-right: auto;
     box-shadow: 10px 10px 5px grey;
}

.box_container{
    width: 1920px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    overflow: hidden;   
    
  
}

.box{
    top: 548px;
    width: 573px;
    height: 326px;
    box-shadow: 10px 10px 10px grey;
    object-fit: cover;
    background: #535353 0% 0% no-repeat padding-box;
    margin-right: 0%;

}

.nav_back{
    background-color:#535353;
}

.navbar{
    align-items: center;
    justify-content: space-between; 
    }

.navbar ul li{
    display: inline-block;
    margin: 0 20px;
    position: relative;
    }
     
.navbar ul li a{
    font-family: american-typewriter;
    letter-spacing: 0.1em;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    }

.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0; 
    bottom: -10px;
    transition: 0.5s;
    }

.navbar ul li:hover::after{
    content: '';
    height: 3px;
    width: 100%;
    background: #009688;
    position: absolute;
    left: 0; 
    bottom: -10px;
}